/* ====================== MODAL ====================== */

.modal-content {
    border: none;
    padding-bottom: 50px;
}

.modal-content .logo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.modal-content .logo-modal img {
    width: 40%;
    max-width: 310px;
}

.modal-content h4 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
}

.modal-content .input-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-content .input-modal {
    text-align: center;
    width: 55%;
    min-width: 310px;
    border: 1px solid lightgray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 30px 0;
    padding: 0 15px;
}

.modal-content .submit-modal {
    color: white;
    background-color: var(--primaria);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.modal-content .submit-modal:hover {
    background-color: var(--primaria-claro);
}

.modal .form-inline .form-control {
    padding: 25px 20px;
}

.modal .form-inline .btn {
    padding: 12px 20px;
}

@media screen and (max-width: 676px) {
    .modal .form-inline {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal .form-inline .btn,
    .modal .form-inline .form-group {
        width: 100%;
    }
}


/* ================ MODAL FORMULÃRIO ================ */

.modal-formulario .modal-dialog {
    z-index: 100;
}

.modal-formulario .modal-lg {
    max-width: 1200px !important;
}

.modal-formulario .modal-lg .modal-content {
    background-color: white;
}

.modal-formulario .modal-header {
    border: none !important;
}

.modal-content .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box>h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.form-box>p {
    font-size: 1rem;
    text-align: center;
}

.form-box form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 80% !important;
    margin: 0 auto !important;
}

.form-box form>label {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.form-box form>input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(150, 149, 149, 0.404);
    padding: 5px 15px;
    margin-bottom: 15px;
    transition: .2s;
}

.form-box form>input:focus {
    border: 1px solid var(--primaria-escura);
}

.form-box form>button {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--primaria-escura);
    width: 100%;
    height: 50px;
    border: 1px solid var(--primaria-escura);
    padding: 5px 15px;
    margin-bottom: 15px;
    transition: .4s ease-out;
    cursor: pointer;
}

.form-box form>button:hover {
    color: black;
    background-color: rgba(44, 44, 44, 0)
}

.form-box>.form-labels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-labels .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 60px;
    border-right: 1px solid rgb(207, 207, 207);
}

@media screen and (max-width: 375px) {
    .form-box form {
        width: 100% !important;
    }
    .form-labels {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .form-labels .label {
        border: 0;
        margin-bottom: 20px;
    }
}

.form-labels .label:nth-child(2) {
    border: 0;
}

.label>img {
    width: 80%;
}

.modal-content .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px 0 80px;
    border-right: 1px solid rgba(172, 172, 172, 0.8);
}

.text-box h2 {
    color: var(--secundaria);
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
}

.text-box p {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
}

.__btn-modal-wpp {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none !important;
    background-color: #4fc04f;
    height: 40px;
    width: 160px;
    border-radius: 4px;
}

.__btn-modal-wpp:hover {
    color: #FFF;
    background-color: #289228;
}


/* .section-form .depo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
    max-height: unset;
    border-right: 2px solid var(--primaria);
}

.depo-box>.owl-carousel {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    height: 480px;
}

button.owl-dot>span {
    background-color: unset !important;
    border: 1px solid grey;
}

button.owl-dot.active>span {
    background-color: grey !important;
    border: 1px solid grey;
    transition: .5s !important;
}

.depo-box .depo-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: 320px;
    max-width: 380px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 25px 0;
    margin: 25px auto;
    padding: 20px 15px 80px;
    position: relative;
}

.depo-card>.depo-card-icon {
    background-color: rgb(182, 182, 182);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.depo-card>h3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

.depo-card>p {
    color: rgb(145, 145, 145);
    font-size: 1rem;
    text-align: center;
    width: 80%;
}

.onda-card {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    bottom: 0;
    z-index: 0;
} */